body{background-color:beige;}
h1{color:blue;
background-color:yellow;
font-size:40px;
}
.abc
{color:green; background-color:grey;}
h2{color:purple; background-color:white;}
.ghj{color:black; background-color:aqua;}





