#bx1 {
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px;
    margin: 10px;
    background-color: blueviolet;
}
#bx2 {
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px;
    margin: 10px;
    background-color: black;
    opacity: 0.5px;
}
#bx1{
    width: 500px;
    height: 300px;
ba

}
