h1{
font-size:150%;
text-decoration:underline;
}
h2{
font-size:1.2em;
text-decoration:underline;
}
.para1{
color:blue;
}
.para2{color:purple;}
.para3{
color:red;
font-size:15px;}

line-height:1.5em;
background-color:#5e4df;}


